.about {
    display: flex;
    flex: 0 0 600px;
    flex-wrap: wrap;
    flex-direction: column;
}

.portrait {
    align-self: center;
    width: 400px;
}

@media only screen and (max-width: 640px) {
    .about {
        flex: 0 0 90%;
    }

    .portrait {
        width: 90%;
    }
}