.content {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 20px auto;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
} 

@media only screen and (max-width: 800px) {
    .content {
        width: 90%;
    }
}