.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 0 0 100%;
    overflow-y: hidden;
}

.clickInteractor {
    width: 100vw;
    height: 100vh;
    background: black;
}

.scrollLabel {
    font-size: 16px;
    color: #888;
    position: fixed;
    text-align: right;
    bottom: 0;
    left: 0;
    transform: translate(calc(100vw - 100% - 20px), -20px);
}

.section {
    display: flex;
    flex: 0 0 100%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section h1 {
    font-size: 105px;
    margin-bottom: 0;
}

.section h2 {
    font-size: 75px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
}

.descriptionContainer {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
}

.description {
    margin-left: 5px;
    width: 40vw;
    align-self: flex-end;
}

.thumbnailContainer {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    align-self: flex-start;
    width: 40vw;
    justify-content: space-between;
}

.thumbnail {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.5;
}

.thumbnail:hover {
    opacity: 1;
}

.portfolioItem {
    width: 150px;
    display: inline-block;
    margin: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.portfolioItem:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .scrollLabel {
        display: none;
    }

    .main {
        display: block;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .section {
        height: auto;
        margin: 20px 0px;
    }

    .description {
        width: 60vw;
    }

    .thumbnailContainer {
        width: 60%;
    }

    .thumbnails {
        display: block;
    }
}

@media only screen and (max-width: 801px) {

    .scrollLabel {
        display: none;
    }

    .main {
        display: block;
        overflow-x: hidden;
        overflow-y: visible;
        width: 100vw;
        margin: 10px auto;
    }

    :global(html, body) {
        overflow-y: scroll;
    }

    .section {
        width: 90vw;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    .description h1 {
        margin-top: 20px;
        font-size: 60px;
    }

    .section h2 {
        font-size: 40px;
        margin-top: 20px;
    }

    .section p {
        width: 100%;
    }

    .descriptionContainer {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .description {
        width: 80vw;
    }

    .thumbnailContainer {
        justify-self: flex-start;
        align-self: flex-start;
        width: 100%;
    }
    
    .thumbnails {
        display: block;
    }

    .portfolioItem {
        width: 45%;
    }
}
