.section {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 0;
    animation: slideLeft 1s ease-in-out;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
    animation: slideRight 1s ease-in-out;
}

.section:nth-child(even) .thumbnails {
    justify-content: flex-end;
}

.section h2, .section p {
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    margin: 0 auto;
    width: 75%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    flex: 0 0 50%;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 55%;
}

.thumbnail {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.5;
}

.thumbnail:hover {
    opacity: 1;
}

.portfolioItem {
    width: 125px;
    display: inline-block;
    margin: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.portfolioItem:hover {
    cursor: pointer;
}

/* KEYFRAMES */
@keyframes slideLeft {
    0% {transform: translate3d(-500px, 0, 0); opacity: 0;}
    100% {transform: translate3d(0, 0, 0); opacity: 1;}
}

@keyframes slideRight {
    0% {transform: translate3d(500px, 0, 0); opacity: 0;}
    100% {transform: translate3d(0, 0, 0); opacity: 1;}
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    .section {
        flex-direction: column;
    }

    .section:nth-child(even) {
        flex-direction: column;
    }

    .section:nth-child(even) .thumbnails {
        justify-content: flex-start;
    }

    .section:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .section p {
        width: 50%;
    }

    .thumbnails {
        margin-top: 10px;
    }

    .portfolioItem {
        width: 175px;
    }
}

@media only screen and (max-width: 800px) {
    .section {
        animation: fade 1s ease-in-out;
    }

    .section:nth-child(even) .thumbnails {
        animation: fade 1s ease-in-out;
        justify-content: center;
    }

    .portfolioItem {
        width: 125px;
    }

    .thumbnails {
        justify-content: center;
    }

    .section p {
        width: 80%;
    }
}
