.canvasContainer {
    position: absolute;
    margin: 0px auto;
    width: 800px;
    height: 600px;
}

.canvas {
    background: black;
}

@media only screen and (max-width: 800px) {
    .canvasContainer {
        width: 90%;
        height: 75%;
    }
}