html, body {
  font-family: sans-serif;
  color: #333333;
}

#content {
  width: 60%;
  margin: 30px auto;
}

#nav {
  text-align: center;
  margin: 0px auto;
  padding: 5px;
  width: 60%;
  border: 1px solid #000000;
}

#nav a {
	margin: 5px;
  padding: 10px;
}

a {
  color: #000000;
}

#canvas {
  margin-top: 15px;
  width: 100%;
}

li {
  margin: 5px;
  list-style: none;
}
