html, body {
  font-family: sans-serif;
  color: #333333;
}

#content {
  width: 60%;
  margin: 30px auto;
}

p, a {
  font-size: 20px;
}

#nav {
  text-align: center;
  margin: 0px auto;
  padding: 5px;
  width: 75%;
  //border: 1px solid #000000;
}

#nav a {
	margin: 5px;
  padding: 10px;
}

a {
  color: #000000;
}

h1 {
  margin: 5px 0px;
}

#canvas, canvas {
  margin-top: 15px;
  width: 100%;
}

ul {
  padding: 0px;
}

li {
  margin: 10px;
  list-style: none;
  padding: 5px 0px;
  //border-bottom: 1px solid #333333;
}

#content img {
  width: 100%;
  margin: 10px 0px 0px 0px;
}
